openapi: 3.1.0
info:
  title: Sleeper Fantasy Football API
  description: Get NFL player data, league info, drafts, and picks from Sleeper.
  version: "1.0.1"

servers:
  - url: https://api.sleeper.app/v1

paths:
  /user/{username}:
    get:
      summary: Get user details by username
      operationId: get_user
      parameters:
        - name: username
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: User details

  /user/{user_id}/leagues/nfl/{season}:
    get:
      summary: Get all NFL leagues for a user in a given season
      operationId: get_user_leagues
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: string
        - name: season
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of leagues

  /league/{league_id}/drafts:
    get:
      summary: Get all drafts for a league
      operationId: get_league_drafts
      parameters:
        - name: league_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of drafts

  /draft/{draft_id}/picks:
    get:
      summary: Get all picks for a given draft
      operationId: get_draft_picks
      parameters:
        - name: draft_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: List of draft picks

  /players/nfl:
    get:
      summary: Get all NFL players with metadata, stats, and projections
      operationId: get_players
      description: |
        ⚠️ WARNING: This endpoint returns a very large dataset.
        - Always filter to **active players only**.
        - Limit scope to QB, RB, WR, TE, K, DEF.
        - Sort by projected 2025 fantasy points.
        - Keep at most the **top 500 players**.
        - Do not attempt to process the entire dataset.
        - If the request is too large, switch to using the fallback_player_pool.csv.
      responses:
        "200":
          description: Player database (filtered to top ~500 relevant players)
